<div post-channel-comment=<%= comment.id %> class='mt-3'>
  <% if action_name == 'edit' && @comment.id == comment.id %>
    <%= render "form", comment: @comment %>
  <% else %>
    <p comment-description>
    <%= comment.description %>
  </p>
  <h5>Reactions</h5>
  <div>
    Thumbs Up (
    <span data-reaction-thumbsup>
      <%= comment.thumbsup_count || 0 %>
    </span>
    )
    Likes (
      <span data-reaction-like>
        <%= comment.like_count || 0 %>
      </span>
    )
    Smiles (
      <span data-reaction-smile>
        <%= comment.smile_count || 0 %>
      </span>
    )
  </div>
  <div data-reactions>
    <% if current_user %>
      <% if channel || can_react?(comments, comment, :thumbsup) %>
        <%= link_to "Thumbs Up", post_comment_reactions_path(post, comment, kind: :thumbsup), class: 'btn btn-success btn-sm', data: { "turbo-method": :post } %>
      <% else %>
        <%= link_to "Remove Thumbs Up", post_comment_reaction_path(post, comment, :thumbsup), class: 'btn btn-secondary btn-sm', data: { "turbo-method": :delete } %>
      <% end %>
      <% if channel || can_react?(comments, comment, :like) %>
        <%= link_to "Like", post_comment_reactions_path(post, comment, kind: :like), class: 'btn btn-success btn-sm', data: { "turbo-method": :post } %>
      <% else %>
        <%= link_to "Remove Like", post_comment_reaction_path(post, comment, :like), class: 'btn btn-secondary btn-sm', data: { "turbo-method": :delete } %>
      <% end %>
      <% if channel || can_react?(comments, comment, :smile) %>
        <%= link_to "Smile", post_comment_reactions_path(post, comment, kind: :smile), class: 'btn btn-success btn-sm', data: { "turbo-method": :post } %>
      <% else %>
        <%= link_to "Remove Smile", post_comment_reaction_path(post, comment, :smile), class: 'btn btn-secondary btn-sm', data: { "turbo-method": :delete } %>
      <% end %>
    <% end %>
  </div>
  <% end %>
  <% unless channel %>
    <div class="mt-3">
      <%= link_to 'Edit Comment', edit_post_comment_path(post, comment), class: 'btn btn-primary btn-sm' if can_edit?(comment) %>
      <%= link_to 'Delete Comment', post_comment_path(post, comment), class: 'btn btn-danger btn-sm', data: { "turbo-method": :delete } if can_edit?(comment) %>
    </div>
  <% end %>
</div>