<p style="color: green"><%= notice %></p>

<h1 post-channel-id=<%= @post.id %> post-title current-user-id=<%= current_user&.id %>><%= @post.title %></h1>

<p post-description><%= @post.description %></p>
<h2>Comments</h2>

<div id="comments">
  <% @comments.each do |comment| %>
    <% next unless comment.id %>
    <%= render "comment", post: @post, comments: @comments, comment: comment, channel: false %>
  <% end %>
</div>

<div class='mt-4'>
  <% if action_name == 'new' %>
    <%= render "form", comment: @comment %>
  <% else %>
    <%= link_to "New comment", new_post_comment_path(@post), class: 'btn btn-outline-primary mt-3' %>
  <% end %>


  <%= link_to "Back to posts", posts_path, class: 'btn btn-outline-secondary mt-3' %>
</div>